server.servlet.context-path: / # Context path of the application.
server.compression.enabled: true
server.compression.mime-types: text/html,text/xml,text/plain,text/css,text/javascript,application/javascript,application/json
server.compression.min-response-size: 1024
server.http2.enabled: true
server.port: ${SERVER_PORT:9080}

spring.application.name: '@project.artifactId@'
spring.application.version: '@project.version@'
spring.profiles.active: ${SPRING_PROFILES_ACTIVE:local}
spring.main.allow-bean-definition-overriding: true # Enable bean override

---
spring.config.activate.on-profile: local
# ----------------------------------------
# ACTUATOR PROPERTIES
# ----------------------------------------
# ENDPOINTS WEB CONFIGURATION
management.endpoints.web.exposure.include: '*' # Endpoint IDs that should be included or '*' for all.
management.endpoints.web.exposure.exclude:  # Endpoint IDs that should be excluded or '*' for all.
management.endpoints.web.base-path: /management # Base path for Web endpoints. Relative to server.servlet.context-path or management.server.servlet.context-path if management.server.port is configured.
management.endpoints.web.path-mapping.health: healthcheck

# HEALTH ENDPOINT
management.endpoint.health.cache.time-to-live: 0ms # Maximum time that a response can be cached.
management.endpoint.health.enabled: true # Whether to enable the health endpoint.
management.endpoint.health.roles:  # Roles used to determine whether or not a user is authorized to be shown details. When empty, all authenticated users are authorized.
management.endpoint.health.show-details: always # When to show full health details.

# INFO CONTRIBUTORS (InfoContributorProperties)
management.info.build.enabled: true # Whether to enable build info.
management.info.defaults.enabled: true # Whether to enable default info contributors.
management.info.env.enabled: true # Whether to enable environment info.
management.info.git.enabled: true # Whether to enable git info.
management.info.git.mode: full # Mode to use to expose git information.

#-- METRICS :: DATADOG
management.datadog.metrics.export.enabled: false
management.datadog.metrics.export.api-key: "YOUR_API_KEY"
management.datadog.metrics.export.uri: https://api.datadoghq.eu
management.datadog.metrics.export.step: 30s
#-- METRICS :: STATSD
management.statsd.metrics.export.enabled: false
management.statsd.metrics.export.host: localhost
management.statsd.metrics.export.port: 8125
management.statsd.metrics.export.protocol: udp
management.statsd.metrics.export.flavor: datadog
#-- METRICS :: TAGS
management.metrics.tags:
  application: ${spring.application.name}
  env: ${spring.profiles.active}
  environment: ${spring.profiles.active}

#------------------------------
# SPRING CLOUD STREAM
#------------------------------
# https://docs.spring.io/spring-cloud-stream/docs/current/reference/html/
spring.cloud.function.definition: producer2;
spring.cloud.stream:
  defaultBinder: my-kafka-binder-01
  default:
    content-type: application/json
  bindings:
    producer1-out-0:
      binder: my-kafka-binder-01
      destination: spring-cloud-stream-kafka-sample-01
      content-type: application/json
      producer:
        headerMode: headers
        useNativeEncoding: true
    producer2-out-0:
      binder: my-kafka-binder-01
      destination: spring-cloud-stream-kafka-sample-01
      content-type: application/json
      producer:
        headerMode: headers
        useNativeEncoding: true
  binders:
    my-kafka-binder-01:
      type: kafka
      environment:
        spring.cloud.stream.kafka.binder:
          brokers: "localhost:9092"
          headers:
            - x-test-header
        spring.cloud.stream.kafka.bindings:
          producer1-out-0:
            producer:
              configuration:
                key.serializer: org.apache.kafka.common.serialization.StringSerializer
                value.serializer: org.springframework.kafka.support.serializer.JsonSerializer
          producer2-out-0:
            producer:
              configuration:
                key.serializer: org.apache.kafka.common.serialization.StringSerializer
                value.serializer: org.springframework.kafka.support.serializer.JsonSerializer
    my-kafka-binder-02: # A binder with schema registry configuration
      type: kafka
      environment:
        spring.cloud.stream.kafka.binder:
          brokers: "localhost:9092"
          headers:
            - x-test-header
        spring.cloud.stream.kafka.bindings:
          producer1-out-0:
            producer:
              configuration:
                key.serializer: org.apache.kafka.common.serialization.StringSerializer
                value.serializer: io.confluent.kafka.serializers.json.KafkaJsonSchemaSerializer
                schema.registry.url: http://localhost:8081
                auto.register.schemas: false
                use.latest.version: false
                use.schema.id: 1
spring.cloud.sleuth:
  json:
    enabled: false

# SPRINGDOC :: SWAGGER
springdoc:
  api-docs:
    groups.enabled: true
  swagger-ui:
    disable-swagger-default-url: true
    path: /swagger
    display-request-duration: true
    groups-order: DESC
    operations-sorter: alpha
    tags-sorter: alpha

# LOGGING
logging.config: classpath:log4j2.xml # Location of the logging configuration file. For instance, `classpath:logback.xml` for Logback.
logging.level: # Log levels severity mapping. For instance, `logging.level.org.springframework: DEBUG`.
  org.springframework: INFO
  org.springframework.cloud.sleuth: TRACE
  org.flywaydb: INFO
  com.cjrequena.sample: DEBUG
